/* General Styles */
* {
    margin:0.5;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}
.logo {
  
    position: absolute;
    left: 100px;
    top: 20px;
    width: 110px; /* Adjust width */
    height: 110px; /* Adjust height to make it a square */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image scales properly */
}
/* Header */
header {
   background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #d4edda;
}

/* Section Styles */
section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
     background-color: #333;
    color: white;
}

/* About Section */
#about p {

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;

}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.skill {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill:hover {
    background-color: #d4edda;
    transition: background-color 0.3s;
}

/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.project img {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

.project h3 {
    margin-top: 15px;
}

/* Contact Section */
#contact p {
    text-align: center;
}

#contact a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .skills-grid, .projects-grid {
        grid-template-columns: 1fr;
    }
}